@namespace xlink url('http://www.w3.org/1999/xlink');
@namespace d url("http://docbook.org/ns/docbook");

d|*[href]:before{
  link:attr(href);
}

d|*[xlink|href]:before{
  link:attr(xlink|href);
}


ulink[url]:before{
  link:attr(url);
}


d|link[xlink|href]:before, d|xref[xlink|href]:before, d|coref[xlink|href]:before, d|biblioref[xlink|href]:before {
  link:attr(xlink|href);
}

d|link:before, d|xref:before, d|coref:before, d|biblioref:before {
  link: "#" attr(linkend);
}